body {
    background:#FCFFFE;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}
.assignment {
    background: #564f6f;
    width:20%;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border:2px solid #E5FCFF
}

hi{
    color: darkmagenta;
    text-align:center;
}

h2 {
    text-align: center;
    color:#F1E8E5
}

a{
    text-decoration: none;
    color: #FFA07A;
}
p{
    text-decoration: none;
    color:#F1E8E5
}
a:hover{
    color:black;
}